@import "tailwindcss";

@layer base {
  html {
    color-scheme: light;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
  }

  html,
  body {
    @apply bg-white text-slate-900 antialiased;
  }

  ::selection {
    @apply bg-indigo-100 text-slate-900;
  }
}
